.footer-container {
    background-color: rgb(175, 223, 224);
    height: 350px;
}

.first-container {
    margin-top: 30px;
}

.second-container {
    margin-top: 30px;
}

.third-container {
    margin-top: 30px;
}

.icon {
    height: 60px;
    background-color: lightgray;
}

.small {
    height: auto;
    background-color: black;
    color: rgb(177, 11, 11);
    padding: 5px;

}